*{font-family:"Times New Roman";
font-style:"Italic";}
body{background-color: #FFFF00}
h1{text-align: center;
color: #FF0000;
text-height:40px;}
.menu{list-style:none;
margin:2;
padding-left:20px;}
.menu li a {display:inline-block;
padding-left: 20px;
background:linear-gradient(to top right, #FFC0CB, #FF1493)}
.menu li{display:inline-block;
 margin-left: 20px;}
 #left{background:#DC143C;
  width: 455px;
  float:left;}
  #right{background:#8B0000;
   height:100px;
   width:634px;
   float: right;}
   #cente{margin:0 634px 0 455px;}
 #img{max-width:390px;
 max-height: 390px;
 padding:10px;
 background:linear-gradient(to top left,#200,#eee);
 bottom:150px;
 }
 h2{background:linear-gradient(to top, #FFA07A,#FF7F50)
 bottom:490px;
 width:100px;}  

